<h1>made it here!</h1>

<p>
  &quot; <%= obj["quote"] %> &quot;
  <br>&ndash; <%= obj["tag"] %>
</p>


<p>
  Submitted by <%= obj["submitter"] %>
</p>

<p>browesed with <%= ua %> </p>
<%= require 'pry'; binding.pry %>
